<div class="navbar row ">
  <a href="index.html">Home</a>
  <a href="topics.handlebars">Topics</a>
  <a href="about.html">About Us</a>
</div>

<div class="col-container servlet">
  <div class="col-6">
  	<div class="picture">
  		<img src="static/images/node.jpg">
  	</div>
  </div>
</div>

<div class="body node">
            <div class = "node">
                <p>Node js is a server environment that developed by Ryan Dahl on 2009. It runs on different platforms. It is a free and open source software provided for developers. Node js is a javascript-based that runs on V8 of javascript runtime environment. Node js executes a javascript and it provides different libraries and frameworks such as express, hapi, etc.
                </p>
                <h3>Features:</h3>
                    <div class = "node">
                        <ul>
                            <li>Asynchronous and Event Driven</li>
                            <li>Single Threaded but Highly Scalable - It can caters large request by providing services.</li>
                            <li>Fast - Since it was built on V8 of javascript by chrome so the execution of the codes is faster.</li>
                            <li>No Buffering - outputs the data in chunks</li>
                        </ul>
                    </div>
                <h3>Where to Use Node.js?</h3>
                    <div class = "node">
                        <p>You can use nodes on creating the following areas:</p>
                        <ul>
                            <li>I/O bound application</li>
                            <li>Single page application</li>
                            <li>JSON API’s based application</li>
                            <li>Real-time applications</li>
                        </ul>
                    </div>
                <h3>Node Package Manager (NPM)</h3>
                    <div class = "node">
                        <p>NPM is a package manager of node that we use to install node js packages, modules, and frameworks. To install npm, use this command: <b>npm install</b>. That To install a module, use this command: <b>npm install [name_of_module]</b>. For example, “npm install express”. Once a module is installed, just use <b>require()</b> to use the module.
                        </p>
                    </div>
            </div>
        </div>
<div class="footer-site row">
	<div class="footer-right col-6">
		<p>We group 7 of Web Systems Technologies Lecture was assigned to create a course website that contains all topic discussed this semester. This course website provides you an outline about Javaservlet, node js, php, jsp, etc.</p>
	</div>
	<div class="footer-left col-8">
		<p class="footer-links">
			<a href="topics.html">Topics</a>
			·
			<a href="about.html">About Us</a>
		</p>
		<p>Web System & Technologies &copy; 2018</p>
	</div>
</div>
