<div class="navbar row ">
  <a href="index.html">Home</a>
  <a href="topics.handlebars">Topics</a>
  <a href="about.html">About Us</a>
</div>

<div class="col-container servlet">
  <div class="col-6">
  	<div class="picture">
  		<img src="static/images/php.jpg">
  	</div>
  </div>
</div>





<div class="footer-site row">
	<div class="footer-right col-6">
		<p>We group 7 of Web Systems Technologies Lecture was assigned to create a course website that contains all topic discussed this semester. This course website provides you an outline about Javaservlet, node js, php, jsp, etc.</p>
	</div>
	<div class="footer-left col-8">
		<p class="footer-links">
			<a href="topics.html">Topics</a>
			·
			<a href="about.html">About Us</a>
		</p>
		<p>Web System & Technologies &copy; 2018</p>
	</div>
</div>
